<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="bg-container register-bg">
    <div class="auth-container">
        <div class="auth-row justify-content-center align-items-center vh-100">
            <div class="auth-col-md-4">
                <div class="auth-card shadow">
                    <div class="card-body">
                        <h3 class="text-center mb-4">✒️ Register</h3>

                        <div id="msg"></div>

                        <form id="registerForm" action="{{ url_for('auth.register') }}" method="POST">
                            <div class="mb-3">
                                <label for="username">Username</label>
                                <input type="text" id="username" name="username" class="form-control" required>
                            </div>

                            <div class="mb-3">
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-success w-100">Register</button>
                        </form>

                        <div class="text-center mt-3">
                            <a href="{{ url_for('auth.login') }}">Already have an account?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</body>

</html>